body{
	background: url(dreams.jpg);
}
input{
	width: 300px;
	height: 30px;
	border-radius: 10px;
	display: flex;
}
h1{
	font-family: Agency FB;
	font-size: 50px;
}
label{
	font-size: 20px;
	color: white;
}
p{
	font-size: 20px;
	color: white;
}
a{
	text-decoration: none;
	font-family: arial;
}
#button{
	width: 65px;
}
